/*styles for my resume*/

/* the whole page*/
body{
  font-family: Helvetica;
  font-size: 1em;
  color:#444;
  font-weight:400;
}
#container{
width: 100%;
max-width: 1200px;
margin: 0 auto;
padding-bottom: 50px;


}

#headshot{
  padding-top: 100px;
}

#aboutme{
  font-size: 1.5em;
  text-align: center;
  padding-top: 0;
  margin-left: 50px;
}

.menu{
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu li{
  display: inline;
}
/*Section Headers (education, experience, skills)*/
.sectionheader{
  font-size: 6em;
  color:#CA462E;
  font-weight:400;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  min-width: 300px;
  text-align: center;
  font-family: playfair display;
  font-style: italic;
  font-weight: bolder;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 50px;
}

#degrees{
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.75em;
}

/*Job Titles/Positions */
.jobtitle{
  font-weight:600;
  font-size: 3em;
}
/* Companies and Organizations*/
.organization{
  font-weight: 400;
  font-size: 2.5em;
  font-family: Helvetica;
}
/* Dates of Jobs */
.date{
  font-weight: 400;
  font-style: italic;
  font-size: 2em;
  margin-top: 2px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.75em;
}

/* Lists (Contacts, Education, and Skills)*/
li{
  font-size: 1em;
}

#do{
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.75em;
}

.top{
  width: 60%;
  min-width: 300px;
  margin:0 auto;
  margin-bottom: 30px;
}

.navbar.center .navbar-collapse {
    text-align: center;
}
.navbar.center .navbar-collapse .nav {
    float: none;
    display:inline-block;
    vertical-align: middle;
}

.nav .navbar-nav{
  color:#D44B33;

}

.carousel-control-prev-icon {
  background-image: none;
  color: red;
}

.bioinfo{
  font-size: 2em;
  width: 500px;
}

.bio{
  display: grid;
 align-items: center;
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 30px;
 justify-content: center;



}
.jobsection{
  background-color:#F6E1DB;
  padding: 20px;
  margin-bottom: 20px;


}

.logo{
  display: flex;
  justify-content: center;
}
