.headline {
  font-size: 3em;
  font-weight:700;
  text-align: center;
  font-family:'Montserrat', sans-serif;
  padding-left: 200px;
  padding-right:200px;


}

.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  text-align: center;
  border-bottom: 1px;
  border-color: black;
  border-style: double;
  border-top-color: white;
  border-left-color : white;
  border-right-color: white;
  marg
}

p{
  font-family: 'Georgia', serif;
  line-height: 180%;
  font-size:1.1em;


}

img{
  width: 800px;
  height: auto;
  margin-left: 250px;
  padding-top: 40px;
}

figcaption{
  margin-left: 250px;
  font-variant: 'Montserrat', sans-serif;
  color: #8e8e8e;
  font-size: .8em;
  padding-bottom: 50px;
  max-width: 800px;
}

.column {
	  flex: 33.33%;
	  height: 200px;
    width:400px;
	  padding: 10px;
	  margin: 5px;
	  text-align: center;
    float:left;
	}
	.grid {
	   display: flex;

	}

  footer{
    text-align:center;
    background-color: black;
    color:white;
    padding-top:20px;
    padding-bottom: 20px;
  }

  .container{
    width: 700px;

  }

.headerimage{
  max-width: 100%;
}

.infographic{
  display: block;
  margin-left: auto;
  padding-left: 60px;
  padding-bottom: 50px;
}

.refugees{
  width: 1200px;
  padding-right: 280px;


}

.chart{
  padding-left: 150px;
  padding-bottom: 50px;
}

.note p{
  font-style: italic;
  color: gray;
}

.wash{
 padding-left: 60px;
}

.map{
  padding-left: 60px;
  padding-bottom: 30px;
}

.blurrypic{
padding-left: 60px;
padding-bottom: 50px;

}

.pquote{
font-weight: bolder;
font-size: 1.75em;
width: 100%;
padding-left: 270px;

}

.headerimage{
  padding-left:40px;
}
